extends ../layout/base.pug

block _css-files_
  link(rel='stylesheet', href='http://bl.ocks.org/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css')


block _main-content_  
  include ./includes/index-content.pug


    